* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between; /* left at right */
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo img {
    width: 50px; /* size ng logo */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px; /* space pagitan ng menu */
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-links a:hover {
    color: yellow;
}
